
 text.txt
xmlrpc.php
wp-trackback.php
wp-signup.php
wp-settings.php
wp-mail.php
wp-login.php
wp-load.php
wp-links-opml.php
wp-cron.php
wp-config.php
wp-comments-post.php
wp-blog-header.php
wp-activate.php
wp-admin
wp-includes
