
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.container{
    width: 100%;
    height: auto;

    position: relative;
    z-index: 1;
}

.test {
    color: whitesmoke;
    width: 800px;
    height: auto;
    position: relative;
    left: 10%;
    font-family: 'Poppins', sans-serif;
}
.text{
    font-weight: 900;
    line-height: 100%;
    top: 12%;
    font-size: 5em;

}


.bg-image{
    background-image: url("../images/banner-top.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    height: 765px;
    width: 100%;
    position :relative;


}

.size-image{
    width: 800px;
    height: 400px;
}
.chief{

   margin-left: 170px;
    margin-top: 200px;
    width: 930px;
    height: 600px;


}
.meal{
    color: whitesmoke;
   font-size: 42px;
    display: inline;
    margin-top: 200px;
    margin-bottom: 60px;

}
.hachBlack{
z-index: 23;
    transform: rotate(180deg) ;
 position: relative;
    top:215px ;

}
.trait{
    color: whitesmoke;

}
.icone{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 130px;
    height: 250px;
    z-index: 100;
    position: relative;
    top: 420px;
    z-index: 50;


}
.text-icone{
margin-top: 100px;
}
.card {
    border: 1px transparent solid;
    border-top-left-radius: 50px;
    border-top-right-radius:50px ;
    width: 290px;
    height: 90%;
    background-color: white;
    position: relative;
    -moz-box-shadow: 5px 5px 10px 0px #cfcfcf;
    -webkit-box-shadow: 5px 5px 10px 0px #cfcfcf;
    -o-box-shadow: 5px 5px 10px 0px #cfcfcf;
    box-shadow: 5px 5px 10px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=10);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;


}
.discover{
    margin-left: 410px;
    position: relative;
    width:550px ;
    height: 360px;
    bottom: 420px;
    text-align: justify;
    background-color: white;
padding: 35px 35px 35px 60px ;


    padding-right: 40px;
    -moz-box-shadow: 10px 10px 20px 0px #656565;
    -webkit-box-shadow: 10px 10px 20px 0px #656565;
    -o-box-shadow: 10px 10px 20px 0px #656565;
    box-shadow: 10px 10px 20px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=20);
}
.titre{

margin-bottom: 5px;

    font-size: 1.7em;
}
.subtitle{
    font-size: 2em;
    font-weight:600;

}
.content{

}
